form{
	width: 90%;
	margin-left:30px;
	margin-top: 20px;
}

textarea{
	border: 2px solid red;
	border-radius: 4px;
	width: 100%;
	background-color: #F0F8FF;
}

label{
	width: 100%;
	font-size: 18px;
}

input{
	width: 100px;
	background-color: #eee;
}

body{
	background-image: url("questions.jpg");
	background-repeat: no-repeat;
}
