form{
	width: 90%;
	margin-left:30px;
	margin-top: 20px;
}

textarea{
	border: 2px solid red;
	border-radius: 4px;
	width: 100%;
}

label{
	width: 100%;
}

input{
	width: 75px;
	background-color: #eee;
}

body{
	background-image: url("questions.jpg");
}
