form{
	width: 90%;
	margin-left:30px;
	margin-top: 20px;
}

textarea{
	border: 2px solid red;
	border-radius: 4px;
	width: 100%;
}

label{
	width: 100%;
	font-size: 18px;
}

input{
	width: 100px;
	background-color: #eee;
}

p{
	margin-left: 30px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}