{% extends 'base.html' %}

{% block title %}
Trips
{% endblock title %}

{% block head_css_page %}
    <link href="../static/css/2-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock head_css_page %}


        {% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        

        <div class="row">
        {% for trip in trips %}
            <div class="col-md-6 portfolio-item">
                <a href="{{ trip.trip_name|slugify }}">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href='{{ trip.trip_name|slugify }}'>{{ trip.trip_name }}</a>
                </h3>
                <p>{{ trip.trip_name }}</p>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
        {% endblock content %}
