<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 60%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>  

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.success %} class="{{ message.success }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <form method="POST" class="post-form" id="thing">
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        {% csrf_token %}
    </form>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>


    <div class="row">
        <div class="col-md-6 col-md-offset-1">
                    {% for location in locations %}
                    <h3>
                        {{location.name}}
                    </h3>   
                    <div>
                        {{location.address}}
                    </div>
                    {% endfor%}
        </div>
        <div class="col-md-5">
            <h3>
            {{ trip.trip_name }}
            </h3>
        </div>
    </div>

    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [
        ];


        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          console.log("form submitted!")  // sanity check
          var stuff = $("#pac-input").val();
          console.log(stuff);
          var places = searchBox.getPlaces();
          console.log(places);
          var obj = JSON.parse(JSON.stringify(places));
          console.log(places[0].formatted_address);
          if (places[0].photos) {
          console.log(places[0].photos[0].getUrl({'maxWidth': 700, 'maxHeight': 700}));
          }


          document.getElementById("id_name").value = places[0].name;
          document.getElementById("id_google_id").value = places[0].place_id;
          document.getElementById("id_address").value = places[0].formatted_address;
          document.getElementById("id_lat").value = places[0].geometry.location.lat();
          document.getElementById("id_lng").value = places[0].geometry.location.lng();

          var a = places[0].address_components;
          for(i = 0; i < a.length; ++i) {
               var t = a[i].types[0];
              if( t == 'locality')
                document.getElementById("id_city").value = places[0].address_components[i].long_name;
          }


          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
        
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow(); 

        var l = [
                {% for location in locations %}
                    {% autoescape on %}
                    ['{{ location.name }}', {{ location.lat }}, {{ location.lng }}],
                    {% endautoescape %}
                {% endfor%} 
        ];

        var marker, i;
    
        for (i = 0; i < l.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(l[i][1], l[i][2]),
            map: map
          });

  //extend the bounds to include each marker's position
  bounds.extend(marker.position);

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(l[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

//now fit the map to the newly inclusive bounds
map.fitBounds(bounds);
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoMFoe9rWJTplv_-rYRECyh64qjYHRDuU&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>