{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
    <li><a href="/accounts/logout/">Logout</a></li>
{% else %}
    <li><a href='/accounts/login/'>Login</a></li>
{% endif %}

<ul>
{% for question in questions %}
    <h4><a href="question/{{ question.id }}"><li>{{ question }}</a> <br>
<a href="postanswer/{{ question.id }}"><h5>Post Answer</h5></a>
    </li></h4>
{% endfor %}
</ul>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock content %}